

label, p, span, div, button {
    font-family: 'Lato', sans-serif;

}

.navbar {
    background: #022545!important;
}

.parallax {
    /* The image used */
    background-image: url("images/witch-pattern-purple.png");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: initial;
}

.jumbotron {
    margin-top: 76px;
    background-color: rgba(3, 32, 58, 0.6 );
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

h1, h2 {
    font-family: 'Sacramento', cursive;
}

.salem-title {
    font-weight: bold;
}

p.lead{
    font-family: 'Lato', sans-serif;
}

form {
    margin-bottom: 60px;
}

label, h2 {
    color: white;
}


.left {
    -moz-transform: rotate(-50deg) scaleX(-1);
    -o-transform: rotate(-50deg) scaleX(-1);
    -webkit-transform: rotate(-50deg) scaleX(-1);
    transform: rotate(-50deg) scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.right {
    -moz-transform: rotate(-50deg) scaleX(1);
    -o-transform: rotate(-50deg) scaleX(1);
    -webkit-transform: rotate(-50deg) scaleX(1);
    transform: rotate(-50deg) scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#wunderbiene {
    transition: transform .15s
}

#wunderbiene img {
    width: 50px;
    position: relative;
    z-index: 100;
    left:-50%;
    top: 50px;
}

.busqueda {
    transition: width 0.5s;
    width: 50%;
}

.busqueda.fullWidth {
    width: 100%;
}

#carrito_productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.carrito_form_ingresar label {
    color: black;

}

article.card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

#carrito_carrito li{
    list-style: none;
}