

label, p, span, div, button {
    font-family: 'Lato', sans-serif;

}

.navbar {
    background: #022545!important;
}

.parallax {
    /* The image used */
    background-image: url("images/witch-pattern.png");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: initial;

    margin-top: -75px;
}

.parallax-filter {
    background-color: rgba(3, 32, 58, 0.5 );
    width: 100%;
    height: calc(100% - 75px);
    position: absolute;
    top: 75px;
}

.jumbotron {
    background-color: rgba(3, 32, 58, 0.8 );
    color: white;
    position: absolute;
    margin-top: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

h1, h2 {
    font-family: 'Sacramento', cursive;
}

.salem-title {
    font-weight: bold;
}

.carrousel {
    position: absolute;
    right: 200px;
    top: -50%;
}

.carrousel img {
    max-height: 500px;
    position: absolute;
    right: 100%;
}

.carrousel_img-1{
    opacity: 0;
    animation: fade 10s linear infinite;
}

.carrousel_img-2{
    opacity: 0;
    animation: fade 10s linear 1s infinite;
}

.carrousel_img-3{
    opacity: 0;
    animation: fade 10s linear 2s infinite;
}

.carrousel_img-4{
    opacity: 0;
    animation: fade 10s linear 3s infinite;
}

.carrousel_img-5{
    opacity: 0;
    animation: fade 10s linear 4s infinite;
}

.carrousel_img-6{
    opacity: 0;
    animation: fade 10s linear 5s infinite;
}

.carrousel_img-7{
    opacity: 0;
    animation: fade 10s linear 6s infinite;
}

.carrousel_img-8{
    opacity: 0;
    animation: fade 10s linear 7s infinite;
}

.carrousel_img-9{
    opacity: 0;
    animation: fade 10s linear 8s infinite;
}

.carrousel_img-10{
    opacity: 0;
    animation: fade 10s linear 9s infinite;
}


@keyframes fade {
    0%   {opacity: 0;}
    5%   {opacity: 1;}
    10%   {opacity: 1;}
    15%   {opacity: 0;}
    100%   {opacity: 0;}
}

p.lead{
    font-family: 'Lato', sans-serif;
}

form {
    margin-bottom: 60px;
}

label, h2 {
    color: white;
}

.busqueda {
    transition: width 0.5s;
    width: 50%;
}

.busqueda.fullWidth {
    width: 100%;
}

#carrito_productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.carrito_form_ingresar label {
    color: black;

}

article.card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

#carrito_carrito li{
    list-style: none;
}